<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>

<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form id="my_form" class="layui-form">
            <div class="layui-form-item">
                <label for="demand_name" class="layui-form-label">
                    <span class="x-red">*</span>需求名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="demand_name" required="" lay-verify="required"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="demand_code" class="layui-form-label">
                    <span class="x-red">*</span>事件号</label>
                <div class="layui-input-inline">
                    <input type="text" name="demand_code" required="" lay-verify="required"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="domain_code" class="layui-form-label">
                    <span class="x-red">*</span>业务域</label>
                <div class="layui-input-inline layui-show-xs-block">
                    <select name="domain_code">
                        {% for cdr in curDomainRole %}
                            <option value="{{ cdr.dcode }}">{{ cdr.dname }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="apply_userid" class="layui-form-label">
                    <span class="x-red">*</span>提出人</label>
                <div class="layui-input-inline">
                    <input type="text" placeholder="{{ curUser.truename }}" name="apply_userid" required=""
                           readonly="readonly"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="cur_status" class="layui-form-label">
                    <span class="x-red">*</span>当前状态</label>
                <div class="layui-input-inline">
                    <select id="status_code" name="status_code" disabled="disabled">
                        <option value="1" selected>待确认</option>
                        <option value="2">已确认</option>
                        <option value="3">进行中</option>
                        <option value="4">测试中</option>
                        <option value="5">已完成</option>
                        <option value="6">已暂停</option>
                        <option value="7">已作废</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="model_name" class="layui-form-label">
                    <span class="x-red">*</span>模型名</label>
                <div class="layui-input-inline">
                    <input type="text" name="model_name" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">
                    <span class="x-red">*</span>开发人员</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="dev_userid" value="1" title="张三">
                    <input type="checkbox" name="dev_userid" value="2" title="李四">
                    <input type="checkbox" name="dev_userid" value="3" title="王五">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="confluence" class="layui-form-label">
                    <span class="x-red">*</span>文档地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="confluence" required="" lay-verify="url" autocomplete="off"
                           class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="expect_finishtime" class="layui-form-label" id="finishtime-1">
                    <span class="x-red">*</span>要求完成时间</label>
                <div class="layui-input-inline">
                    <input class="layui-input" placeholder="点击选择日期" name="expect_finishtime" id="finishtime"
                           required="">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label for="description" class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <textarea placeholder="可填写附加内容" id="description" name="description"
                              class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">增加</button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['laydate', 'form', 'layer'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#finishtime' //指定元素
                , eventElem: '#finishtime-1'
                , trigger: 'click'
            });

            //自定义验证规则
            form.verify({
                nikename: function (value) {
                    if (value.length < 5) {
                        return '昵称至少得5个字符啊';
                    }
                },
                pass: [/(.+){6,12}$/, '密码必须6到12位'],
                repass: function (value) {
                    if ($('#L_pass').val() != $('#L_repass').val()) {
                        return '两次密码不一致';
                    }
                }
            });

            //监听提交
            form.on('submit(add)',
                function (data) {
                    // 添加前先将下拉框的disabled属性取消
                    $("#status_code").removeAttr("disabled");
                    layer.alert("增加成功", {icon: 6}, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        // 刷新父窗口
                        parent.location.reload();
                    });
                    var form = new FormData(document.getElementById("my_form"));
                    $.ajax({
                        url: "{{ url_for('demand_bp.add') }}",
                        type: "POST",
                        data: form,
                        dataType: 'json',
                        processData: false,
                        contentType: false,
                        success: function (res) {
                            console.log("成功");
                            console.log(res);
                        }
                    });

                    //layer.alert("增加成功", {icon: 6}, function () {
                    //    // 获得frame索引
                    //    var index = parent.layer.getFrameIndex(window.name);
                    //    //关闭当前frame
                    //    parent.layer.close(index);
                    //});
                    return false;
                });
        });
</script>

</body>

</html>